version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file: apps/server/.env.production
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
      - PORT=3000
    # volumes:
    # - ../../yarn.lock:/app/yarn.lock
