name: Deploy API to AWS EC2

on:
  workflow_dispatch:
  push:
    branches: ['master']
    paths:
      - 'apps/server/**'
      - '.github/workflows/deploy-server-ec2.yml'

jobs:
  deploy:
    concurrency:
      group: ${{ github.ref_name }}
    timeout-minutes: 30
    runs-on: self-hosted
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies & Create env file and Build the project
        run: |
          ls
          export NODE_OPTIONS="--max-old-space-size=1024"
          rm -rf ./apps/web
          yarn install --production=false
          cd apps/server
          touch .env.production
          echo "${{ vars.ENV_FILE }}" > .env.production
          export $(grep -v '^#' .env.production | xargs)
          yarn prisma:generate
          yarn workspace @edusama/common build
          yarn build

      - name: Restart server running in pm2
        run: yarn workspace @edusama/server restart:prod:pm2
